<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minglr.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.minglr.android.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.minglr.android.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.minglr.android.ProfileEditActivity" />
        <activity android:name="com.minglr.android.ViewActivity" />
        <activity android:name="com.minglr.android.LoginActivity" />
        <activity android:name="com.minglr.android.MainActivity" />
        <activity android:name="com.minglr.android.SetActivity" />
        <activity android:name="com.minglr.android.PersonalDates" />
        <activity android:name="com.minglr.android.NewDateActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnKWEkTzKGbBP02Umht2UmlWD43PYfyxI"/>
    </application>

</manifest>